#contenedor{
    align-items:center;
    margin-top: 11%;
}
#imagen{
    float: left;
    width: 55%;
    margin-left: 15%;
}
#iniciarsesion{
    float: left;
    margin-top: 100px;

}
#correo{
    margin-bottom: 10px;
}
input{
    border: 1px solid blue;
}